In [ ]:
import pandas as pd
import numpy as np

file_path = '/home/cnserver/projects/AI/datas/raw/rpm_600/train/600-11-3a.csv'
output_path = '/home/cnserver/projects/AI/datas/raw/rpm_600/train/600-11-3.csv'

In [63]:
df = pd.read_csv(file_path)
df

,Factory ID,Device ID,Timestamp,Acc X,Acc Y,Acc Z,Voltage,RPM,Temperature,Label
0,0,0,1732879986000,10.160992,-0.185551,0.620098,4.79375,599.218811,17.375,1
1,0,0,1732879987000,10.145430,-0.132878,0.663194,4.77500,596.875000,17.250,1
2,0,0,1732879988000,10.206482,-0.096965,0.611719,4.77500,596.875000,17.250,1
3,0,0,1732879989000,10.176555,-0.119710,0.639252,4.77500,596.875000,17.250,1
4,0,0,1732879990000,10.170568,-0.111330,0.658405,4.80625,600.781250,17.375,1
...,...,...,...,...,...,...,...,...,...,...
130,0,0,1732880116000,10.131064,-0.147243,0.587777,4.76875,596.093750,17.500,1
131,0,0,1732880117000,10.176555,-0.059855,0.484826,4.80000,600.000000,17.500,1
132,0,0,1732880118000,10.171766,-0.148441,0.580594,4.78125,597.656250,17.500,1
133,0,0,1732880119000,10.201694,-0.082600,0.543484,4.78125,597.656250,17.500,1
134,0,0,1732880120000,10.206482,-0.073023,0.610521,4.80625,600.781250,17.500,1

In [64]:
df.drop('Factory ID', axis=1, inplace=True)
df.drop('Device ID', axis=1, inplace=True)
df.drop('Timestamp', axis=1, inplace=True)
df.drop('Label', axis=1, inplace=True)

In [65]:
df

         Acc X     Acc Y     Acc Z  Voltage         RPM  Temperature
0    10.160992 -0.185551  0.620098  4.79375  599.218811       17.375
1    10.145430 -0.132878  0.663194  4.77500  596.875000       17.250
2    10.206482 -0.096965  0.611719  4.77500  596.875000       17.250
3    10.176555 -0.119710  0.639252  4.77500  596.875000       17.250
4    10.170568 -0.111330  0.658405  4.80625  600.781250       17.375
..         ...       ...       ...      ...         ...          ...
130  10.131064 -0.147243  0.587777  4.76875  596.093750       17.500
131  10.176555 -0.059855  0.484826  4.80000  600.000000       17.500
132  10.171766 -0.148441  0.580594  4.78125  597.656250       17.500
133  10.201694 -0.082600  0.543484  4.78125  597.656250       17.500
134  10.206482 -0.073023  0.610521  4.80625  600.781250       17.500

[135 rows x 6 columns]

In [66]:

df.rename(columns = {
    'Acc X' : 'accel_x',
    'Acc Y' : 'accel_y',
    'Acc Z' : 'accel_z',
    'Voltage' : 'voltage',
    'RPM' : 'rpm',
    'Temperature' : 'temperature'
}, inplace=True)

df.insert(0, 'timestamp', np.arange(0, len(df) * 50, 50))

# columns = ['timestamp'] + [col for col in df if col != 'timestamp']
# df = df[columns]

In [67]:
df

,timestamp,accel_x,accel_y,accel_z,voltage,rpm,temperature
0,0,10.160992,-0.185551,0.620098,4.79375,599.218811,17.375
1,50,10.145430,-0.132878,0.663194,4.77500,596.875000,17.250
2,100,10.206482,-0.096965,0.611719,4.77500,596.875000,17.250
3,150,10.176555,-0.119710,0.639252,4.77500,596.875000,17.250
4,200,10.170568,-0.111330,0.658405,4.80625,600.781250,17.375
...,...,...,...,...,...,...,...
130,6500,10.131064,-0.147243,0.587777,4.76875,596.093750,17.500
131,6550,10.176555,-0.059855,0.484826,4.80000,600.000000,17.500
132,6600,10.171766,-0.148441,0.580594,4.78125,597.656250,17.500
133,6650,10.201694,-0.082600,0.543484,4.78125,597.656250,17.500
134,6700,10.206482,-0.073023,0.610521,4.80625,600.781250,17.500

In [68]:
df.to_csv(output_path, index=False)